@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}
::-webkit-scrollbar-thumb:active {
  background: #16a34a;
}
::-webkit-scrollbar-track {
  background: #000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000;
}
::-webkit-scrollbar-track:active {
  background: #000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.noise {
  background:
    linear-gradient(to right, rgba(20, 20, 20, 0.85), rgba(20, 20, 20, .85)),
    url(https://grainy-gradients.vercel.app/noise.svg);
}
